{%extends "layout.html"%}
{%block content%}
<div class = "contact">
    <h1>Contact</h1>
    <form action="{{url_for('Thanks')}}" method="POST">
        <input class="email" title="Your email is save with us." placeholder="Enter your email address here" type="email" name="email_name" required> <br>
        <input class="text" title="Your input is save with us." placeholder="" type="text" name="text_name" required> <br>
        <button type="submit"> Submit </button>
    </form>
</div>
{%endblock%}