{%extends "layout.html"%}
{%block content%}
<div class = "Food">
    <h1>飲食</h1>
    <h2>外食</h2>
    <p>在美國餐廳(有服務生帶位、倒水、上餐)吃飯請記得還要付稅與小費。Arizona 的稅為8.6%，基本小費會給15 ~ 20%，有些餐廳6人以上用餐時，在印帳單時會自動算小費18%。
        如果餐廳服務生的態度非常糟，其實是可以不給的。但若服務生態度好也沒有出錯，不給小費是非常無禮的行為。除非餐廳服務生嚴重送錯菜、言語不敬等等，一般都必須給小費的。
        而一些在櫃檯自取餐的餐廳如速食店、咖啡店等因為是在點餐櫃檯點單自取，沒有服務生(Table service)一般是不用給小費。</p>
    <p>如何給小費呢？如果是付現的情況下，最後臨走前將小費留在桌上或櫃檯即可。請注意給零錢是略微失禮的行為，一般最少要給$1紙鈔。
        如果是刷卡，服務生會先給你只有稅與消費金額的帳單，給他你的信用卡，他會拿收據跟簽名憑據回來。在簽名憑據上會有Tip欄與Total欄，在欄內填寫金額後簽名即可。
        如果是在星巴克等櫃檯點餐而已，除了簽名收據之外有時是用平板結帳。同樣刷卡過後會出現小費%數，直接在平板上點擊即可。</p>
        
    <h2>Arizona Restaurant Week</h2>
</div>
{%endblock%}