<!DOCTYPE html>
<html>
  <head>
      <title>Arinona, how?</title>
      <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Arizona, how?</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('Home') }}">Home</a></li>
            <li><a href="{{ url_for('ASU') }}">ASU</a></li>
            <li><a href="{{ url_for('Food') }}">飲食及購物</a></li>
            <li><a href="{{ url_for('Housing') }}">住</a></li>
            <li><a href="{{ url_for('Transportation') }}">交通</a></li>
            <li><a href="{{ url_for('Finance') }}">財務</a></li>
            <li><a href="{{ url_for('Contact') }}">Contact</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
        {%block content%}
        {%endblock%}
    </div>
  </body>
</html>
