{%extends "layout.html"%}
{%block content%}
<div class = "駕照/State ID">
    <h1>駕照/State ID</h1>
    <h2>直接考照</h2>
    <h2>台灣駕照免試換照</h2>
    <p>除了直接考照之外，直接用台灣駕照換亞利桑那駕照也是其中一種方法。以下分享兩種成功換照的方式：</p>
    <p>1. 一般的流程是要先將文件寄去駐洛杉磯臺北經濟文化辦事處，
        拿到翻譯過後才能夠拿到AZ當地的MVD去換駕照，以下為<a href="https://www.facebook.com/groups/tisa.arizonastateuniversity/permalink/1015851721793243/
        ">以前ASU同學於學生會FB社團內的分享</a>： </p>
    
    <pre>首先你要寄信去在LA的辦事處，內容物有:
    1. 駕照彩色影本 --- 這個一定要彩色, 其他文件無所謂
    2. 駕照英文譯本 --- 這邊可能很多人不知道, 這英文譯本要Notarized, 而且要簽中文。  Notarized去美國各大銀行就可以了, 就進去說你要你的document notarized。
    3. 回郵信封 --- 用USPS裡面要附回郵信封給他回信, 你必須先付好這個回郵信的相關費用。
        1天好像要$40? 有tracking number1-3天
        一封信要$5.75, 有tracking number (我是用這個)
        平信好像$2, 沒有tracking number,  據他們說法要7-8天
    4. $15 支票 --- Title寫 T.E.C.O. 就可以了,這是Application fee.
    5. 檢附有效中華民國護照或其他身分證件，及美國簽證、綠卡或護照等得在美國「合法居留」之證明(影本) --- 我是護照,  簽證, I-20影本都印了, 但是據他們說法好像護照or簽證有其中一個就行。
    6. 申請書 --- 去他的網站下載, 直觀地填一填
        
    等到收到回郵後, 帶著:
    1. LA辦事處驗證過的英文譯文 --- 後面應該會有LA辦事處幫你把台灣駕照彩色影本訂在後面, 沒的話, 也要帶著彩色影本
    2. 台灣駕照
    3. 兩份證明你自己身份的文件(至少其中一張有照片) --- 我是帶護照, I-20, SSN card, 但最後他只有看簽證, 護照, I-20.
    4. $10
    然後去的時候你跟他說你要用台灣駕照換AZ駕照, 可能瞬間被他打槍, 不要害怕, 堅持跟他說台灣已經跟AZ簽過條約一定可換, 他才會去看email確認!
    不過也許也不用, 我在猜我可能是第一個台灣人去換駕照的, 所以他才不知道. (我是去Tempe的)
    LA台灣辦事處process需要兩個工作天, 如果你錢夠多的話, 都用一日來回, 大概五天內可以拿到AZ駕照(因為你還有一天要去DMV)。
    我來回的信都是用1-3天的, 碰上labor day, 總共花了大概兩週, 沒碰上應該1.5週解決 </pre>
        
    <p>2. 另外有以前ASU同學提供以下更迅速方便的方式，不需要將文件寄去駐洛杉磯臺北經濟文化辦事處。但也有同學用以下方式在MVD換照失敗，請自行斟酌：
        <a href="https://jimmystore.medium.com/%E7%BE%8E%E5%9C%8B%E4%BA%9E%E5%88%A9%E6%A1%91%E9%82%A3%E5%B7%9E%E8%88%87%E5%8F%B0%E7%81%A3%E9%A7%95%E7%85%A7%E5%85%8D%E8%A9%A6%E6%8F%9B%E7%85%A7-fd08d2d73269
        ">自行翻譯換照</a></p>

    <h2>辦state ID</h2>
    <p>若是認為自己無駕車需求也非常推薦申請state ID.</p>

</div>
{%endblock%}